h1{
    text-align: center;  
    font-weight: bold;
    font-size: 56px;
}



h3{
    text-align: center;
    font-size: 48px;
}

p {
    font-size:larger;
}

#imagesContainer{   
    display: flex;
    flex-wrap: wrap;
}

.imagebox{
    /* width:25%; */
    width:500px;
    height: 400px;
    aspect-ratio: 1/1;  /* what is this meaning? */
    border: 3px solid black;
    margin: 10px;
}